:root{
    --frog-width:8em;
    // --frog-width:5em;
}

#frog-troll-container{
    width:100%;
    height:calc(100% - 4.8em);
    z-index:10000;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
#frog-troll{
    position:relative;
    height:var(--frog-width);
    display: flex;
    justify-content: center;
    width: var(--frog-width);
    transform:translate(50px,50px)
}
#frog-troll-head{
    position: absolute;
    width:70%;
    z-index:1000;
}
#frog-troll-body{
    width:100%;
    position: absolute;
    // transform: translate(50%, 50%);
    z-index:1;
}
#canvas{
    position:absolute;
    z-index:2000;
}

#dot{
    width:1em;
    height:1em;
    background-color: transparent;
    // background-color: red;
    // position: absolute;
    z-index:2000;
    border-radius: 80%;
}

#dot2{
    width:1em;
    height:1em;
    // background-color: transparent;
    background-color: pink;
    // position: absolute;
    z-index:2000;
    border-radius: 80%;
}