@import 'Colors.scss';
@import 'App.scss';



#contact-page{
    background-color: $contactGrey;
    height:calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$mainBeige;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

#contact-title{
    margin: .5em 0 .7em 0;
    font-weight: 100;
    font-size: 1.5em;
}

#contact-page :nth-child(5){
    margin-bottom: 1.2em;
}

#address-link{
    color:$mainBeige;
}

#contact-button{
    margin: 0.8em 0 1.2em 0;
    font-size: .9em;
    padding: .4em 1em .5em 1em;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid $mainBeige;
    color:$mainBeige;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-button:hover{
    background-color: $mainBeige;
    color:$contactGrey;
}

.contact-info{
    margin-bottom: .7em;
    font-size: 0.8em;
    font-weight: 100;
}

#contactpage-logo{
    margin-top:2rem
}

#contact-page #footer{
    width:fit-content;
    margin-top: auto;
    font-size: .8em;
    margin:0 auto;
}

.logos-container{
    margin-top: auto;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    background-color: rgb(35,31,32);
    flex-wrap: wrap;
}

#double-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-top: .6em;
    margin-bottom: .6em;
    height: 80px;
}

#geopark-logo{
    margin-left: 1em;
}


