@import 'App.scss';
@import 'Colors.scss';


:root {
    --buttons-height: 2em;
  }


#map-page-container{
    font-family: 'Ubuntu', sans-serif;
    width:100%;
    height:calc(100% - var(--navbar-height));
}

#map-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    height:calc(100% - var(--buttons-height));
    overflow-y:hidden;
}

#legend{
    width:calc(12% - 2em);
    border: 2px solid $menuLettersStrong;
    border-radius: 15px;
    margin:1.5em 0 1.5em 1em;
    position: relative;
    padding:.5em;
}

#mapper-container{
    width:66%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    overflow: auto;
    scrollbar-width: thin;
}

.App  ::-webkit-scrollbar{
    width: 0.4em;
    height:0.4em;
  }
  
  .App  ::-webkit-scrollbar-track {
    background: $mainBeige;
  }
  
  .App  ::-webkit-scrollbar-thumb {
    background-color: $menuLetters;
    color: $contactGrey; 
    border: none;
  }
#mapper{
    position: absolute;
    top:0;
    left:0;
}

.map{
    width:100%;
}

.dropdown{
    position:absolute;
    z-index: 2;
    top:0.2em;
    width:100%;
    left:0;
}

.dropdown-toggle{
    background-color: transparent;
    padding:.3em .4em;
    font-size:.9em;
    border-radius:20px;
    cursor: pointer;
}

.dropdown-toggle:hover{
    background-color: $menuLettersStrong;
    border:2px solid $menuLettersStrong;
    color:white;
}

#controls{
    margin:auto auto 1.5em auto;
    border: 2px solid $menuLettersStrong;
    border-radius: 15px;
    padding:.5em;
}

.dropdown-menu{
    width:100%;
    word-break: break-word;
    font-size: .9em;
    margin: 0 auto 1em auto;
}

.dropdown-menu form{
    padding:.5em;
    margin: 0 auto 0 auto;
    width:fit-content;
    flex-direction: column;
    background-color:white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown-menu form label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:.5em;
}

.dropdown-menu form label span{
    text-align: start;
    padding-left: 1em;
}

.checkbox{
    transform: scale(150%);
    accent-color: #894ca1;
}

#right-box{
    width:22%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5em 1em 0 0;
    flex-direction: column;
}

#infobox{
    width:100%;
    height: 65%;
    border: 2px solid $menuLettersStrong;
    border-radius: 15px;
    margin-bottom:2em;
}

#buttons-container{
    margin:0 auto 0 auto;
}

#buttons-container button{
    margin:0 .5em 0 .5em;
    padding: .2em;
    font-size:1.1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:2px solid $menuLettersStrong;
    color:black;
    border-radius: .5em;
    cursor: pointer;
}

#buttons-container button:hover{
    background-color: $menuLettersStrong;
    color:white;
}

#buttons-container :first-child::before{
    content:'\2b';
    font: var(--fa-font-solid);
}

#buttons-container :last-child::before{
    content:'\f068';
    font: var(--fa-font-solid);
}
  