@import 'Colors.scss';

#workshop-page-container{
    font-family: 'Ubuntu', sans-serif;
    background-image:url(https://i.imgur.com/DTaAjfn.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    // padding-bottom:6em;
    width:100%;
    overflow:auto;
}

#single-workshop-view{
    padding: 2em 0 1em 0;
    height:calc(60% - 4em);
    background-color: rgba(white,0.5);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#single-image{
    height:100%;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#single-image img{
    height:100%;
    padding-left: 2em;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width:50%;
    color:$menuLettersStrong;
    font-weight:500;
    word-wrap: break-word;
}

#title{
    margin:auto 0 auto 0;
    overflow-wrap: break-word;
    text-align: right;
    font-size: 1.4em;
}

#dates{
    margin:auto 0 auto 0;
    text-align: right;
    font-size: 1.2em;
}

#all-workshops-view{
    position:absolute;
    bottom:0;
    height:calc(40% - var(--footer-height));
    width:100%;
    max-width: 100vw;
    background-color: rgba(white,0.5);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    //for firefox scrollbar 
    scrollbar-color: $mainPetrol $mainBeige;
    scrollbar-width: thin;
}

#all-workshops-view img{
    height:calc(100% - 1em);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding: .5em .5em .5em .5em;
    cursor:pointer;
}

#workshop-page-container ::-webkit-scrollbar{
    height: 0.6em;
}

#workshop-page-container ::-webkit-scrollbar-track {
    background: $mainBeige;
}

#workshop-page-container ::-webkit-scrollbar-thumb {
    background-color: $mainPetrol;
    color: $mainPetrol;
    border-radius: 20px;   
    border: none;
}


@media only screen and (max-width: 1000px) {
    .App{
        overflow-y: auto;
    }
    #workshop-page-container{
        height:fit-content;
    }
    #single-workshop-view{
        position: relative;
        height:fit-content;
        // top:var(--navbar-height);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 0 0 0;
    }
    #info{
        display: flex;
        align-items: center;
        justify-content: center;
        height:fit-content;
        width:100%
    }

    #title{
        text-align: center;
        margin-top:1em;
    }

    #dates{
        text-align: center;
        margin-top:1em;
    }

    #single-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        margin-top: 1em;
    }
    #single-image img{
        width:80%;
        padding: 0 0 1em 0;
    }
    #all-workshops-view{
        position:relative;
        margin-top:auto;
        min-height: 10em;
    }
    #all-workshops-view img{
        height:8em;
    }
  }